@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

:root {
  --base-color: #272727;
}

* {
  box-sizing: border-box;
} 

body {
  height: 100vh;
  width: auto;
  background-color: var(--base-color);
}

.App {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .25fr .1fr 1fr .25fr;
  grid-template-areas:
    "header header"
    "form1  form2"
    "hero1 hero2"
    "footer footer";
  gap: 0.5rem;
}

.App > div {  
  background-image: url('images/comic.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: darken;
  background-color: #9b906b;
}

.header {
  grid-area: header;
  border-radius: 6px; 
  border: 2px solid white;
}

#headerText {
  font-family: 'Bangers', cursive;
  font-size: 7rem;
  letter-spacing: 5px;
  background-image: linear-gradient(0deg, rgb(255, 18, 18) 30%,rgb(255, 215, 38));
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 4px black;
  text-align: center;
  display: flex;
  justify-content: center;
}

.form1, .form2 {
  grid-area: form1;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.form2 {
  grid-area: form2;
}

.randomButton {
  background-color: #1f5768ff;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1.8rem;
  justify-content: center;
  padding: 1.1em 1.3em;
  letter-spacing: 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Bangers', cursive;
  border: solid black 3px;
  color: #ffffff;
  box-shadow: 3px 3px 3px #ffffff;
  text-decoration: none;
  box-sizing: none;
  margin: 10px;
}

#submit {
  background-color: #1f5768ff;
  border-radius: 0.6em;
  cursor: pointer;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Bangers', cursive;
  border: solid black 3px;
  color: #ffffff;
  box-shadow: 3px 3px 3px #ffffff;
  letter-spacing: 20px;
  padding: 1.1em 1.4em;
}

#input {
  border-radius: .6em;
  box-shadow: 3px 3px 3px #ffffff;
  background-color: #1f5768ff;
  color: white;
  font-family: "JetBrains Mono", monospace;
  border: solid black 3px;
  line-height: 2rem;  
  font-size: 20px;
  width: 267px;
  margin-right: 10px;
  margin-bottom: 10px;
}

::placeholder {
  font-family: "JetBrains Mono",monospace;
  color: rgb(255, 255, 255);
}

.hero1, .hero2 {
  grid-area: hero1;
  border-radius: 6px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  font-family: 'Bangers', cursive;
  -webkit-text-stroke-width: .01rem;
  -webkit-text-stroke-color:#fff ;
  letter-spacing: 9px;
}

.hero1 h1, .hero2 h1{
background-image: linear-gradient(0deg, rgb(255, 18, 18) 30%,rgb(255, 215, 38));
background-size: 100%;
background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-text-stroke: 1px black;
}

.divider {
  font-family: 'Bangers', cursive;
  font-size: 2.3rem;
  -webkit-text-stroke-color: black;
}

.hero2 {
  grid-area: hero2;
}

img {
  border: 10px solid #000000;
  border-radius: 15px;
  width: auto;
}

.footer {
  grid-area: footer;
  border-radius: 6px;
  border: 2px solid white;
  display: grid;
  grid-template-columns: 1fr;
}

.health1, .health2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(255, 18, 18);
  font-size: 4.5rem;
  text-transform: uppercase;
  font-family: 'Bangers', cursive;
  letter-spacing: 9px;
  -webkit-text-stroke: 1px black;
}

.fightDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.fightButton {
  background-color: #1f5768ff;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1.5rem;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 1.1em 2.4em;
  text-align: center;
  user-select: none;
  text-transform: uppercase;
  font-family: 'Bangers', cursive;
  letter-spacing: 9px;
  border: solid black 3px;
  color: #fff;
  position: relative;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; 
}

.fightButton:hover {
  transition-duration: 0.1s;
  background-color: rgb(255, 215, 38);
  color: #000000;
}

.fightButton:after {
  content: " "; 
  display: block;
  position: absolute;
  border-radius: .6em;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

.fightButton:active:after {
  box-shadow: 0 0 0 0 rgb(255, 255, 255);
  position: absolute;
  border-radius: .6em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.fightButton:active {
  top: 1px;
}

.audioPlayer {
  margin: auto;
  max-width: 250px;
  padding-bottom: 10px;
}

.text {
  color: rgb(255, 18, 18);
  font-size: 4.5rem;
  text-transform: uppercase;
  font-family: 'Bangers', cursive;
  letter-spacing: 9px;
  text-align: center;
  -webkit-text-stroke: 1px black;
}

@media only screen and (max-width: 768px) {
  .App {
    justify-content: center;
    margin: auto;
    grid-template-columns: .8fr;
    grid-template-rows: .4fr .1fr .4fr .1fr .4fr .2fr;
    grid-template-areas:
      "header"
      "form1"
      "hero1"
      "form2"
      "hero2"
      "footer";
    }
    
  #headerText{
    letter-spacing: 2px;
    padding: 10px;
  }

  .health1, .health2 {
    padding: 10px;
    text-align: center;
  }
  
  .form1, .form2 {
    flex-direction: column;
  }

  #input {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
  }

  .randomButton {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .hero1, .hero2 {
    padding: 5px;
  }

  .heroStats {
    padding: 0 30px;
  }

  img {
  width: 100%;
  }

  .hero1 h3, .hero2 h3{
    background-image: linear-gradient(0deg, rgb(255, 18, 18) 30%,rgb(255, 215, 38));
  }

  .hero1 h1, .hero2 h1{
    background-image: linear-gradient(0deg, rgb(255, 18, 18) 30%,rgb(255, 215, 38));
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px black;
  }
}