.App {
  margin: 10px;
}

.headerTop {
  background-image: url("images/guile_stage.gif");
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center center;
}

audio {
  display: block;
  margin: auto;
  border-radius: 40px;
  border:#0386b9 solid 5px;
}

.heroContainer {
  display: flex;
  }

.hero1 {
  width: 50%;
  justify-content:space-evenly;
}

.hero2 {
  width: 50%;
  justify-content:space-evenly;
}

.divider {
  font-family: 'Bangers', cursive;
  font-size: 50px;
  font-weight: lighter;
  color: black;
  text-shadow: 1px 2px gold ;
  text-align: center;
}

img {
  border: 10px solid #757575;
  border-radius: 15px;
  animation-name: blinking;
  animation-duration: .5s;
  animation-iteration-count: infinite;
}

@keyframes blinking {
  100% {
    border-color: #0386b9;
  }
}

#vs {
  display: flex;
  justify-content: center;
  font-family: 'Bangers', cursive;
  font-size: 550%;
  color: red;
  font-weight: lighter;
  text-shadow: 1px 2px gold ;
  text-align: center;
  align-items: center;
}

.heroContainer {
  font-family: 'Bangers', cursive;
  font-size: 150%;
  font-weight: lighter;
  color: gold;
  text-shadow: 2px 3px #000000;
  text-align: center;
  letter-spacing: 9px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.heroStats {
  flex-wrap: wrap; 
}

.header {
  display: flex;
  justify-content: center;
  font-family: 'Bangers', cursive;
  font-size: 400%;
  font-weight: lighter;
  /* text-shadow: 1px 2px #0386b9 ; */
  text-align: center;
  background-image: linear-gradient(360deg, red, yellow);
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #f3ec78;
  -webkit-text-stroke: 1px black;
}

#input {
  margin-top: 10px;
  border-radius: 6px;
  box-shadow: #0386b9 0 0px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 0px 0 inset;
  justify-content: right;
  display: flex;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  color: white;
  font-family: "JetBrains Mono",monospace;
  height: 24px;
  width: 133px;
  line-height: 1;
  list-style: none;
  overflow: hidden;
}

::placeholder {
  color: red;
  line-height: 1;
  font-family: "JetBrains Mono",monospace;
  color: black;
}

.forms {
  display: flex;
  justify-content: center;
  gap: 10px;
}
/* 
.inputDivContainer {
  justify-content: space-evenly;
  width: 50%;
}

.inputDivContainer2 {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
} */

.buttonRight {
  display: flex;
  justify-content: right;
}

#button-29 {
  margin-top: 10px;  
  /* align-items: center; */
    /* appearance: none; */
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    /* position: relative; */
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }